.home_serction {
          display: flex;
          padding: 30px;
}


.Card_class {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
          transition: transform 100ms ease-in;
          cursor: pointer;
          border: 0px solid black;
          border-radius: 10px;
}
.Card_class:hover {
          transform: scale(1.05);
}